*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.main{

  margin: 0 1rem;
}

button{
  padding: 10px 10px;
  background-color: rgb(2, 2, 48);
  color: aliceblue;
  /* font-size:10px; */
  margin: 1rem;
}
.show {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: visible;
  width:100%;
  gap:2rem;
  /* margin: 0 1rem; */
}

.show .imges {
  height: 25rem; 
  border-radius: 20px;
  width:35%;
}

.imges img{
  border-radius: 20px;
  height:20rem;
  object-fit:cover;
}